PORT = 3000

# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

MAX_REQUEST=20
MAX_AUTH_REQUEST=5
DATABASE_URL="postgresql://root:flashiq123@localhost:5432/flashiqdb?createDatabaseIfNotExist=yes"
JWT_SECRET="a-secret-jwt-key"
BCRYPT_SALT_ROUNDS=10
BACKEND_URL="http://localhost:3000"
MAIL_USER="congdoan08062005@gmail.com"
MAIL_PASS=
REFRESH_TOKEN_SECRET="your_super_secret_random_string_refresh"