services:
  flashiq-api:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      REDIS_URL: "redis://redis:6379"
    depends_on:
      - redis
  
  redis:
    image: redis:latest
    ports:
      - "6379:6379"

  