name: CI - FlashIq - Express TS

on:
  pull_request:
    branches: ["main", "dev"]

jobs:
  integration-test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
          POSTGRES_DB: testdb
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U test"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

      redis:
        image: redis:7
        ports:
          - 6379:6379
        options: >-
          --health-cmd="redis-cli ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Run Prisma generate
        run: npx prisma generate

      - name: Run Prisma migrate
        env:
          DATABASE_URL: postgresql://test:test@localhost:5432/testdb
        run: npx prisma migrate deploy

      - name: Start server
        env:
          DATABASE_URL: postgresql://test:test@localhost:5432/testdb
          REDIS_URL: redis://localhost:6379
          MAIL_USER: test
          MAIL_PASS: test
          GEMINI_API_KEY: test
          GEMINI_MODEL: "gemini-2.5-flash"
          FIREBASE_PROJECT_ID: test
          FIREBASE_PRIVATE_KEY_ID: test
          FIREBASE_PRIVATE_KEY: "-----BEGIN PRIVATE KEY-----\nTEST\n-----END PRIVATE KEY-----\n"
          FIREBASE_CLIENT_EMAIL: test@test.com
          FIREBASE_CLIENT_ID: test
        run: |
          npm start &
          sleep 8

      - name: Health check
        run: curl --fail http://localhost:3000/health
